  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300;400;500;600;700;800&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }



  [dir="rtl"] body {
      font-family: 'Noto Sans Arabic', sans-serif;
  }

  html,
  body {
      width: 100%;
      max-width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;
  }

  .custom-container {
      width: 100%;
      max-width: 1196px;
      margin-left: auto;
      margin-right: auto;
  }

  .vertical_text {
      writing-mode: vertical-rl;
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: vertical-rl;
  }

  @media (max-width:768px) {
      .vertical_text {
          writing-mode: horizontal-tb;
          -webkit-writing-mode: horizontal-tb;
          -ms-writing-mode: horizontal-tb;
      }
  }